.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 2rem;
    margin-top: 2rem;
}

.card {
    width: 18rem;
    margin-left: 2rem;
    margin-top: 2rem;
    max-height: 5rem;
    cursor: pointer;
}